/*--------Header Section----------*/
header {
  color: orange;
  text-align: center;
  background: #222;
}

header h1 {
  font-size: 50px;
}
header h1 span{
  color: white;
}
header p{
  color: #85eaaa;
  margin-bottom: 1.5%;
}

/* ---------Navigation Bar-------------- */
.top-nav{
  background: #191818;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 0% 0%;
}
.top-nav ul{
  list-style: none;
  display: flex;
}
.top-nav li{
  text-align: center;
  padding: 5px 16px;
}
.top-nav a{
  color: orange;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.top-nav li a:hover{
  background: orange;
  color: black;
  padding: 5px;
}
/* ----------------- Media Query ---------------*/
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 440px) {
  .top-nav{
    display: inline-block;
    padding: 2% 20%;
  }
  .top-nav ul{
    display: inline-block;
  }
}
