* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  padding: 10px;
  background: #222;
}

/* Header/Blog Title */
header {
  padding: 1%;
  color: orange;
  text-align: center;
  background: #222;
}

header h1 {
  font-size: 50px;
}
header h1 span{
  color: white;
}
header p{
  color: #85eaaa;
  margin-bottom: 1.5%;
}

/* Style the top navigation bar */
.topnav {
  background: #00000027;
  padding: 1%;
  display: flex;
  text-align: right;
  justify-content: right;
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: left;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
  background: orange;
  color: black;
}

/* Left column */

.leftcolumn {   
  color: white;
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn {
  color: white;
  float: left;
  width: 40%;
  padding-left: 2%;
}
.services h3{
  color: black;
  padding: 1%;
  margin: 1%;
  text-align: center;
  background: orange;
}
.services li{
  list-style: none;
}
.route-finder {
  background: #222;
  color: orange;
  width: 100%;
  padding: 20px;
  text-align:center;
}
.route-finder h1{
  text-align: center;
  margin-bottom: 2%;;
}
.route-finder h2{
    text-align: center;
}
.route-finder .welcome{
  color: white;
  margin-bottom: 50px;
  font-size: 15;
}
.route-finder .form{
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin: 15px;
}

.route-finder input{
  margin-bottom: 5px;
  text-align: center;
width: 70%;
  font-size: 17px;
  display: inline-block;
}
.route-finder button{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 171, 70);
    margin-left: 10px; 
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px; padding: 5px; width: 70px;
}
.route-finder button:hover{
    opacity: 0.8;
    color: black;
}
.route-finder button:active{
    opacity: 0.6;
    color: rgb(168, 233, 225);
}

/* Add a card effect for articles */
.card {
  background: #222;
  border: white solid 1px;
  padding: 5%;
  margin-top: 20px;
}


/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* sign up */


/* Contact Form */
#contact h3{
  color: black;
  padding: 1%;
  margin: 1% auto;
  margin-bottom: 2%;
  text-align: center;
  background: orange;
}
#contact{
  padding: 3%;
}
#contact p{
  margin-bottom: 4%;
}
textarea{
  width: 100%;
}

/* Footer */


/*  Footer Top
--------------------------------------------------------------*/


/* Footer Bottom */
/* .fbottom{
  display:inline-block;
  background: #000000;
} */
/* .footer{
  margin: 0;
  padding: 0;
} */
.copyright{
  background: #000000;
  color: white;
  padding: 2%;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.copyright p{
  color: white;
}
.legal ul li{
  list-style: none;
  display: inline-block;
  padding: 2%;
}
.legal ul li a{
  color: white;
  font-size: 12px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

