* {
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  padding: 10px;
  background: #222;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  color: orange;
  text-align: center;
  background: #222;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  display: flex;
  background-color: black;
  border: 1px solid white;
  text-align: right;
  justify-content: right;
  color: black;
  overflow: hidden;
  
}
.topnav .logo{
  display: flex;
  color: rgb(2, 0, 0);
  border: 1px solid white;
}

/* Style the topnav links */
.topnav a {
  float: left;
  color: orange;
  background-color: black;
  border: 1px solid white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
  background-color: rgb(202, 139, 23);
  color: black;
}
.topnav .logo{
  color: white;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 40%;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  padding-left: 20px;
}

.route-finder {
  background: #222;
  color: orange;
  width: 100%;
  padding: 20px;
  text-align:center;
}
.route-finder h2{
    text-align: center;
}
.route-finder .welcome{
    margin-bottom: 50px;
    font-size: 15;
}
.route-finder .form{
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin: 15px;
}

.route-finder input{
  margin-bottom: 5px;
  text-align: center;
  font-size: 17px;
  display: inline-block;
}
.route-finder button{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 171, 70);
    margin-left: 10px; 
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px; padding: 5px; width: 70px;
}
.route-finder button:hover{
    opacity: 0.8;
    color: black;
}
.route-finder button:active{
    opacity: 0.6;
    color: rgb(168, 233, 225);
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* sign up */


/* Contact Form */
#contact h3{
  display: flex;
  color: rgb(255, 255, 255);
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color:rgb(54, 49, 49)
}
#contact{
  grid-template-rows: auto;    
  margin-top: 100px;
  justify-content: center;
  display: grid;
  color: white;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  background-color:#222;
}
#contact p{
  margin-bottom: 10px;
}
/* Footer */


/*  Footer Top
--------------------------------------------------------------*/

/* Footer Bottom */
#footer-bottom{
  font-weight: 700;
  color: white;
  text-decoration: none;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
